In [1]:
import pandas as pd

tabela = pd.read_csv("exportacao_full.csv")
tabela.head()

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2010,1,Afghanistan,Itajaí - SC,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),197162,99945
1,2010,1,Afghanistan,Lapa - PR,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),114570,76989
2,2010,1,Afghanistan,Rolândia - PR,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),72900,54000
3,2010,1,Afghanistan,São Paulo - SP,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),153593,106541
4,2010,1,Afghanistan,Xaxim - SC,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),26739,24990

In [2]:
tabela = tabela.loc[tabela['Year']>=2016, :]
tabela = tabela.loc[tabela['Country']=="France", :]
display(tabela)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
494040,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
494041,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),79360,14150
494042,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
494043,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),69412,9385
494044,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600
...,...,...,...,...,...,...,...,...,...,...,...
12980015,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",European Union (EU),2316,4
12980016,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
12980017,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,European Union (EU),27060,26400
12980018,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045
12980019,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,European Union (EU),31111,23045

In [4]:
tabela.to_csv("exportacoes_franca.csv", index=False)

In [7]:
display(tabela.head())

tabela.info()

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
494040,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
494041,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),79360,14150
494042,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
494043,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),69412,9385
494044,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600

<class 'pandas.core.frame.DataFrame'>
Index: 142360 entries, 494040 to 12980019
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Year             142360 non-null  int64
 1   Month            142360 non-null  int64
 2   Country          142360 non-null  object
 3   City             142360 non-null  object
 4   SH4 Code         142360 non-null  int64
 5   SH4 Description  142360 non-null  object
 6   SH2 Code         142360 non-null  int64
 7   SH2 Description  142360 non-null  object
 8   Economic Block   142360 non-null  object
 9   US$ FOB          142360 non-null  int64
 10  Net Weight       142360 non-null  int64
dtypes: int64(6), object(5)
memory usage: 13.0+ MB

In [9]:
import pandas as pd

tabela = pd.read_csv(r'exportacoes_franca.csv')
tabela.head()

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
1,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),79360,14150
2,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
3,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),69412,9385
4,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600

In [15]:
tabela_anos = tabela[['Year','US$ FOB']].groupby('Year').sum()

def formatar(valor):
    valor_formatado = f"US${valor:,}"
    return valor_formatado

tabela_anos['US$ FOB'] = tabela_anos['US$ FOB'].apply(formatar)

tabela_anos

               US$ FOB
Year
2016  US$4,615,500,082
2017  US$4,448,705,456
2018  US$5,239,424,416
2019  US$5,218,723,612
2020  US$3,967,594,810

In [12]:
tabela.groupby('Year').sum(numeric_only=True)

       Month   SH4 Code  SH2 Code     US$ FOB   Net Weight
Year
2016  175210  169175582   1686892  4615500082  21798116518
2017  170098  166934928   1664620  4448705456  22556529252
2018  185248  171427598   1709336  5239424416  20905240132
2019  210812  198546658   1979926  5218723612  16412415350
2020  197058  172155036   1716784  3967594810  10868888048

In [22]:
ranking_produtos = tabela[['SH4 Description','US$ FOB']].groupby('SH4 Description').sum(numeric_only=True)

ranking_produtos = ranking_produtos.sort_values(by='US$ FOB',ascending=False)
ranking_produtos["US$ FOB"] = ranking_produtos['US$ FOB'].apply(formatar)
ranking_produtos[:11]

                                                             US$ FOB
SH4 Description
Soybean oilcake and other solid residue, wh/not...  US$5,628,424,640
Iron ores and concentrates, including roasted i...  US$3,264,280,488
Chemical wood pulp, soda or sulphate, other tha...  US$1,845,424,684
Coffee, whether or not roasted or decaffeinated...  US$1,072,554,752
Other aircraft (for example, helicopters, aerop...    US$685,133,070
Soya beans, whether or not broken                     US$600,890,152
Parts of goods of headings 8801 or 8802               US$567,097,230
Crude oil from petroleum and bituminous minerals      US$492,201,844
Petroleum oils and oils obtained from bituminou...    US$491,959,478
Turbo-jets, turbo-propellers and other gas turb...    US$474,382,434
Wood (including strips and friezes for parquet ...    US$455,042,978

In [23]:
tabela_2020 = tabela.loc[tabela['Year']==2020,:]
tabela_2020.head()

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
8482,2020,1,France,Abaetetuba - PA,2008,"Fruit, nuts and other edible parts of plants, ...",20,"Preparations of vegetables, fruit, nuts or oth...",Europe,42609,16560
8483,2020,1,France,Abaetetuba - PA,2008,"Fruit, nuts and other edible parts of plants, ...",20,"Preparations of vegetables, fruit, nuts or oth...",European Union (EU),42609,16560
8484,2020,1,France,Aguaí - SP,804,"Dates, figs, pineapples, avocados, guavas, man...",8,Edible fruit and nuts; peel of citrus fruits o...,Europe,2861,1728
8485,2020,1,France,Aguaí - SP,804,"Dates, figs, pineapples, avocados, guavas, man...",8,Edible fruit and nuts; peel of citrus fruits o...,European Union (EU),2861,1728
8486,2020,1,France,Albertina - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,345513,151200

In [40]:
tabela_2020_cidade = tabela_2020[['City','US$ FOB']].groupby('City').sum()
tabela_2020_cidade = tabela_2020_cidade.sort_values(by='US$ FOB',ascending=False)
tabela_2020_cidade["US$ FOB"] = tabela_2020_cidade["US$ FOB"].apply(formatar)

tabela_2020_cidade[:4].index[1]

Index(['Duque de Caxias - RJ', 'Luís Eduardo Magalhães - BA',
       'Ponta Grossa - PR', 'São José dos Campos - SP'],
      dtype='object', name='City')

In [44]:
cidade = tabela_2020_cidade[:4].index[2]

tabela_cidade = tabela_2020.loc[tabela_2020['City']==cidade,:]

tabela_produtdo_cidade = tabela_2020[['SH2 Description','US$ FOB']].groupby('SH2 Description').sum()
tabela_produtdo_cidade = tabela_produtdo_cidade.sort_values(by='US$ FOB',ascending=False)
tabela_produtdo_cidade['US$ FOB'] = tabela_produtdo_cidade['US$ FOB'].apply(formatar)
display(cidade)
tabela_produtdo_cidade

'Ponta Grossa - PR'

                                                             US$ FOB
SH2 Description
Residues and waste from the food industries; ot...  US$1,087,890,362
Ores, slag and ash                                    US$415,035,798
Nuclear reactors, boilers, machinery and mechan...    US$363,312,290
Aircraft, spacecraft, and parts thereof               US$271,066,746
Mineral fuels, mineral oils, bituminous substan...    US$259,499,252
...                                                              ...
Umbrellas, sun umbrellas, walking-sticks, seat-...            US$782
Other vegetable textile fibres; paper yarn and ...            US$580
Cork and articles of cork                                     US$538
Photographic or cinematographic goods                         US$148
Tin and articles thereof                                       US$52

[95 rows x 1 columns]